include ./header.jade

h1 Alle Change Requests (#{data.requests.length})

div.button
	a.innerButton(href="/ChangeRequestAdd?sessionId=#{data.sessionId}") CR hinzufügen

if status == 'success.delete'
	p.success Der Change Request wurde erfolgreich gelöscht.

table
	thead
		tr
			th #
			th Titel
			th Mandant
			th Status
			th(colspan="3") Aktionen
	tbody
		each request in data.requests
			tr
				td #{request.number}
				td #{request.title}
				td #{request.customer.name}
				if request.status == 'DONE'
					td.success Abgeschlossen
				else if request.departments && request.departments.length > 0
					td #{request.departments[request.departments.length-1].name}
				else
					td.warning Keine Abteilungen zugewiesen
				td
					.button
						a.innerButton(href="/ChangeRequestView?sessionId=#{data.sessionId}&requestId=#{request._id}") Ansehen
				td
					.button
						a.innerButton(href="/ChangeRequestEdit?sessionId=#{data.sessionId}&requestId=#{request._id}") Bearbeiten
				td
					.button
						a.innerButton(href="/ChangeRequestDelete?sessionId=#{data.sessionId}&requestId=#{request._id}") Löschen