include ./header.jade

h1 Change Request "#{data.request.title}" bearbeiten

include ./errors.jade

if status == 'success'
	p.success Der Change Request wurde erfolgreich aktualisiert.

form(method="POST" action="/ChangeRequestEdit?sessionId=#{data.sessionId}")
	div.field
		label Titel
		input(type="text" name="title" required value="#{data.request.title}")
	div.field
		label Mandant
		select(name="customerId" required="required")
			each customer in data.customers
				option(value="#{customer._id}" selected=customer._id == data.request.customer) #{customer.name}
	input(type="hidden" name="requestId" value="#{data.request._id}")
	input(type="submit" value="Aktualisieren")