include ./header.jade

h1 Abteilungen (#{data.departments.length})

div.button
	a.innerButton(href="/DepartmentAdd?sessionId=#{data.sessionId}") Neue Abteilung erstellen

table
	thead
		tr
			th Name
			th(colspan="2") Aktionen
	tbody
		each department in data.departments
			tr
				td #{department.name}
				td
					.button
						a.innerButton(href="/DepartmentView?sessionId=#{data.sessionId}&departmentId=#{department._id}") Bearbeiten
				td
					.button
						a.innerButton(href="/DepartmentDelete?sessionId=#{data.sessionId}&departmentId=#{department._id}") Löschen