include ./header.jade

h1 Page Auflistung

include ./errors.jade

table
	tr
		th Name
		th Department
		th # Felder
	each page in data.pages
		tr
			td
				a(href="/PageFieldList?sessionId=#{sessionId}&pageId=#{page._id}") #{page.name}
			td
				if page.department != undefined 
					#{page.department.name}
			td #{page.fields.length}