include ./header.jade

h1 #{data.instance.page.name} bearbeiten

- var getValue = function(fieldId) {
- 	for (var i = 0; i < data.instance.values.length; ++i) {
-		var value = data.instance.values[i];
-		if (value.field == fieldId) return value.value;
- 	}
- }

include ./errors.jade

if status == 'success'
	p.success Die Seite wurde erfolgreich aktualisiert.

p zuletzt bearbeitet von #{data.instance.editors[data.instance.editors.length-1].name} #{data.instance.editors[data.instance.editors.length-1].surname} am #{data.instance.editedAt[data.instance.editedAt.length-1]}

form(method="POST" action="/PageInstanceEdit?sessionId=#{data.sessionId}")
	table
		each field in data.instance.page.fields
			if field.active
				tr
					th
						label #{field.label}
					th
						case field.type
							when 'BOOLEAN'
								select(name="#{field._id}")
									option(selected=getValue(field._id) == 'Ja' ? '' : undefined) Ja
									option(selected=getValue(field._id) == 'Nein' ? '' : undefined) Nein
							when 'COSTS'
								table
									thead
										tr
											th laufend / p.a.
											th
											th einmalig
											th lft. Jahr
											th Folgejahr
									tbody
										tr
											td Sachkosten (€)
											td
												input(type="number" step="0.01" name="#{field._id}-runningMaterial")
											td Sachkosten (€)
											td
												input(type="number" step="0.01" name="#{field._id}-currentMaterial")
											td
												input(type="number" step="0.01" name="#{field._id}-nextMaterial")
										tr
											td IT Betrieb (Delta zu Ist; €)
											td
												input(type="number" step="0.01" name="#{field._id}-runningIt")
											td IT-PT
											td
												input(type="number" step="0.01" name="#{field._id}-currentIt")
											td
												input(type="number" step="0.01" name="#{field._id}-nextIt")
										tr
											td FTE Ops
											td
												input(type="number" step="0.01" name="#{field._id}-runningOps")
											td PT Ops
											td
												input(type="number" step="0.01" name="#{field._id}-currentOps")
											td
												input(type="number" step="0.01" name="#{field._id}-nextOps")
										tr
											td FTE PPM / OvH
											td
												input(type="number" step="0.01" name="#{field._id}-runningPPM")
											td PT PPM / OvH
											td
												input(type="number" step="0.01" name="#{field._id}-currentPPM")
											td
												input(type="number" step="0.01" name="#{field._id}-nextPPM")
							when 'DATE'
								input(type="date" name="#{field._id}" value=getValue(field._id))
							when 'LONGTEXT'
								textarea #{getValue(field._id)}
							when 'MAIL'
								input(type="email" name="#{field._id}" value=getValue(field._id))
							when 'MONEY'
								input(type='number' step="0.01" min="0" name="#{field._id}" value=getValue(field._id))
							when 'NUMBER'
								input(type='number' name="#{field._id}" value=getValue(field._id))
							when 'SELECT'
								select(name="#{field._id}" value=getValue(field._id))
									each selectable in field.selectables
										option(selected=getValue(field._id) == selectable ? '' : undefined) #{selectable}
							when 'SELECTMULTI'
								select(multiple="multiple" name="#{field._id}" value=getValue(field._id))
									each selectable in field.selectables
										option(selected=getValue(field._id) == selectable ? '' : undefined) #{selectable}
							when 'TEXT'
								input(type="text" name="#{field._id}" value=getValue(field._id))
	input(type="hidden" name="instanceId" value="#{data.instance._id}")
	input(type="submit" value="aktualisieren")
