include ./header.jade

h1 Page #{data.instance.page.name} bearbeiten

include ./errors.jade

if status = 'success'
	p.success Die Page wurde erfolgreich aktualisiert

form(method="POST" action="/PageInstanceEdit?sessionId=#{data.sessionId}")
	each field in data.instance.page.fields
		if field.active
			div.field
				label #{field.label}
				case field.type
					when 'BOOLEAN'
						select
							option Ja
							option Nein
					when 'DATE'
						input(type="date")
					when 'LONGTEXT'
						textarea
					when 'MAIL'
						input(type="email")
					when 'MONEY'
						input(type='number' step="0.01" min="0")
					when 'NUMBER'
						input(type='number')
					when 'SELECT'
						select
							each selectable in field.selectables
								option #{selectable}
					when 'SELECTMULTI'
						select(multiple="multiple")
							each selectable in field.selectables
								option #{selectable}
					when 'TEXT'
						input(type="text")
	input(type="hidden" name="instanceId" value="#{data.instance._id}")
	input(type="submit" value="aktualisieren")
