include ./header.jade
h1 #{data.usergroup.name}-Berechtigungen bearbeiten

if status == 'delete.success'
	p.success Die Berechtigung wurde erfolgreich entfernt.
if status == 'add.success'
	p.success Die Berechtigung wurde erfolgreich gew채hrt.

h2 Neue Berechtigung gew채hren
form(method="POST" action="/PermissionAdd?sessionId=#{data.sessionId}")
	.field
		input(type="text" name="name" placeholder="Name")
	input(type="hidden" name="usergroupId" value="#{data.usergroup._id}")
	.button
		input.innerButton(type="submit" value="Berechtigung gew채hren")

h2 Bereits gew채hrte Berechtigungen (#{data.permissions.length})
table
	thead
		tr
			th Name
			th Aktionen
	tbody
		each permission in data.permissions
			tr
				td #{permission.name}
				td
					.button
						a.innerButton(href="/PermissionDelete?sessionId=#{data.sessionId}&permissionId=#{permission._id}") Entfernen