include ./header.jade
h1 Benutzergruppen (#{data.usergroups.length})

div.button
	a(href="/UsergroupAdd?sessionId=#{data.sessionId}") Neue Gruppe erstellen

table
	thead
		tr
			th Name
			th(colspan="3") Aktionen
	tbody
		each usergroup in data.usergroups
			tr
				td #{usergroup.name}
				td
					a(href="/PermissionList?sessionId=#{data.sessionId}&usergroupId=#{usergroup._id}") Berechtigungen
				td
					a(href="/UsergroupEdit?sessionId=#{data.sessionId}&usergroupId=#{usergroup._id}") Bearbeiten
				td
					a(href="/UsergroupDelete?sessionId=#{data.sessionId}&usergroupId=#{usergroup._id}") Löschen