include ./header.jade
h1.title Willkommen, #{data.user.name} #{data.user.surname}!

.divider

if data.canAddChangeRequests
	div.button
		a.innerButton(href="/ChangeRequestAdd?sessionId=#{sessionId}") Change Request erstellen

.divider

form(method="GET" action="/UserHome")
	label die letzten 
	select(name="days")
		option(value="5") 5 Tage
		option(value="10") 10 Tage
	label  anzeigen
	
	input(type="hidden" name="sessionId" value="#{sessionId}")
	input(type="submit" value="Aktualisieren")



table
	thead
		tr
			th Seitenname
			th Gesamt
			th Zustand
			th Anzahl
	tbody
		each obj, page in data.count
			tr
				td #{page}
				td #{obj._total}
				if Object.keys(obj.stati).length > 0
					td(colspan="2")
						table(width="100%")
							each num, status in obj.stati
								tr
									td(width="60%") #{status}
									td #{num}